# Ignore bundler config.
/.bundle
.bundle

# Ignore bundler gems.
vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
*.log
/tmp
tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret

/public/user_images/*
/public/system/*

# for local environment variables
.envrc
.env
