<div class="main">

  <div class="container">

    <!-- サイドメニュー -->

    <!-- content -->
    <div class="row">
      <!-- left -->
      <div class="col-md-3">
        <!-- パネルで囲む -->
        <div class="panel panel-default">
          <div class="panel-heading">
            Menu
          </div>
          <!-- 敢えてbodyを作らないことで、メニューを詰める -->
          <!-- <div class="panel-body"> -->
          <ul class="nav nav-pills nav-stacked">
            <li>
              <a href="">
                <i class="glyphicon glyphicon-pencil"></i>
                投稿する</a>
            </li>
            <li>
              <a href="">
                <i class="glyphicon glyphicon-star"></i>
                人気の投稿</a>
            </li>

          </ul>
          <!-- </div> -->
        </div>
      </div>

      <!-- center -->

      <h2 class="page-title">新着投稿</h2>
      <div class="col-md-9">
        <div class="form-group">
          <div class="row">

            <% @recent_posts.each do |post| %>
              <div class="col-md-4">
                <div class="thumbnail" style="text-alighn:center;padding-top:10px">
                  <a href="#">
                    <img src="150_150.jpg" alt="サムネイル画像_id">
                  </a>
                  <div class="caption">
                    <p class="post-goods">
                      <%= post.goods %>
                    </p>
                    <p class="post-situation">
                      <%= post.situation %>
                    </p>
                  </div>

                </div>
              </div>

            <% end %>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
