

    <div class="main">
      <div class="contents-container">
        <h1 class="contents-title">新着のみんなのプレゼント</h1>
        <div class="contents-list">
          <% @recent_posts.each do |post| %>
            <div class="post-situation">
              <%= post.situation %>
            </div>
            <div class="post-item">
              <%= post.item %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
