<div class="main">

  <h1 class="page-title">新着</h1>
  <div class="container">
    <div class="form-group">
      <% @recent_posts.each do |post| %>
        <div class="post-situation">
          <%= post.situation %>
        </div>
        <div class="post-goods">
          <%= post.goods %>
        </div>
        <div class="post-comment">
          <%= post.comment %>
        </div>
      <% end %>
    </div>
  </div>
</div>
