// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// -------contents------

.main {
  background-color: green;
}

.contents-container {
  height: 500px;
  color: orange;
}

h1 {
  font-size: 20px;
}

.contents-list {
  padding-left: 50px;
}
