<!DOCTYPE html>
<html>
  <head>
    <title>YourPresent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>

    <header class="header">
      <div class="header-left">
        <a class="header-login" href="#">YourPresent</a>
      </div>
      <div class="header-right">
        <a class="header-login" href="#">login</a>
      </div>
    </header>

    <%= yield %>

    <footer class="footer">
      <div class="information">情報</div>
      <div class="contact">contact</div>
    </footer>

  </body>
</html>
